<a href="https://colab.research.google.com/github/dariushazimi/PredictingHousePrices/blob/master/HousingDNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import keras
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
df = pd.read_csv("https://raw.githubusercontent.com/KhanradCoder/LearnKeras/master/2.DNNs/HousingPrices.csv")
df.head()

   YearBuilt  2ndFlrSF  GrLivArea  ...  TotRmsAbvGrd  YrSold  SalePrice
0       2003       854       1710  ...             8    2008     208500
1       1976         0       1262  ...             6    2007     181500
2       2001       866       1786  ...             6    2008     223500
3       1915       756       1717  ...             7    2006     140000
4       2000      1053       2198  ...             9    2008     250000

[5 rows x 9 columns]

In [10]:
df.columns

Index(['YearBuilt', '2ndFlrSF', 'GrLivArea', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'TotRmsAbvGrd', 'YrSold', 'SalePrice'],
      dtype='object')

In [0]:
X = df.drop(columns=['SalePrice'])
Y = df[['SalePrice']]

In [0]:
model = keras.Sequential()
# we create 3 layers with 8 neuron
# some equal the number of nuron to the number of features
# the more layer you have, the slower
# if it is closer to one is one, if it is closer to 0 it is zero
# relu is generally the best
# input_shape = the number of columns expect the sales price
model.add(keras.layers.Dense(8, activation='relu', input_shape = (8,)))
model.add(keras.layers.Dense(8, activation='relu'))
model.add(keras.layers.Dense(1)) # this is the output layer

model.compile(optimizer = 'adam', loss = 'mean_squared_error')

In [16]:
# to avoid over fitting, we do early stopping using call backs
# The model will be training and when it is not getting any better
# we just stop the training even though we have more epochs to go through to save
# some time.

model.fit(X, Y, epochs=30, callbacks=[keras.callbacks.EarlyStopping(patience = 5)])

Epoch 1/30
1460/1460 [==============================] - 0s 236us/step - loss: 38822225936.8329
Epoch 2/30
1460/1460 [==============================] - 0s 39us/step - loss: 38655100350.0712
Epoch 3/30
1460/1460 [==============================] - 0s 36us/step - loss: 38404638130.8493
Epoch 4/30
1460/1460 [==============================] - 0s 33us/step - loss: 38029065914.5644
Epoch 5/30
  32/1460 [..............................] - ETA: 0s - loss: 32733913088.0000

/usr/local/lib/python3.6/dist-packages/keras/callbacks/callbacks.py:846: RuntimeWarning: Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss
  (self.monitor, ','.join(list(logs.keys()))), RuntimeWarning

1460/1460 [==============================] - 0s 34us/step - loss: 37495429394.9370
Epoch 6/30
1460/1460 [==============================] - 0s 34us/step - loss: 36747853622.0055
Epoch 7/30
1460/1460 [==============================] - 0s 36us/step - loss: 35724980897.3151
Epoch 8/30
1460/1460 [==============================] - 0s 39us/step - loss: 34383806048.7890
Epoch 9/30
1460/1460 [==============================] - 0s 40us/step - loss: 32697923886.9918
Epoch 10/30
1460/1460 [==============================] - 0s 34us/step - loss: 30666157563.7918
Epoch 11/30
1460/1460 [==============================] - 0s 33us/step - loss: 28173353369.6000
Epoch 12/30
1460/1460 [==============================] - 0s 37us/step - loss: 25161334116.2959
Epoch 13/30
1460/1460 [==============================] - 0s 36us/step - loss: 21887628711.6274
Epoch 14/30
1460/1460 [==============================] - 0s 33us/step - loss: 18568725057.9288
Epoch 15/30
1460/1460 [==============================] - 0s 34us/step - loss: 15367348162.2795
Epoch 16/30
1460/1460 [==============================] - 0s 33us/step - loss: 12471649947.7041
Epoch 17/30
1460/1460 [==============================] - 0s 32us/step - loss: 9896767473.9726
Epoch 18/30
1460/1460 [==============================] - 0s 35us/step - loss: 7570757967.2548
Epoch 19/30
1460/1460 [==============================] - 0s 33us/step - loss: 5957595406.7288
Epoch 20/30
1460/1460 [==============================] - 0s 32us/step - loss: 5009183525.1726
Epoch 21/30
1460/1460 [==============================] - 0s 35us/step - loss: 4560136497.0959
Epoch 22/30
1460/1460 [==============================] - 0s 33us/step - loss: 4372484397.5890
Epoch 23/30
1460/1460 [==============================] - 0s 35us/step - loss: 4299403839.1233
Epoch 24/30
1460/1460 [==============================] - 0s 33us/step - loss: 4272272946.4986
Epoch 25/30
1460/1460 [==============================] - 0s 35us/step - loss: 4262855820.2740
Epoch 26/30
1460/1460 [==============================] - 0s 35us/step - loss: 4255738585.0740
Epoch 27/30
1460/1460 [==============================] - 0s 32us/step - loss: 4250846812.5808
Epoch 28/30
1460/1460 [==============================] - 0s 33us/step - loss: 4244093179.0904
Epoch 29/30
1460/1460 [==============================] - 0s 33us/step - loss: 4237825523.3753
Epoch 30/30
1460/1460 [==============================] - 0s 34us/step - loss: 4230972347.9671

In [0]:
# now lets test the model on some test data
# for test data we use the first row. We know the value of this house but lets see what the model thinks.

In [20]:
test_data = np.array([2003,	854,	1710,	2,	1,	3,	8,	2008])
#actual sale price is 208500
print(model.predict(test_data.reshape(1,8), batch_size=1))

[[208031.3]]

In [0]:
# lets say we want to save this model
model.save('housing_model.h5')

In [0]:
# if we don't want to retrain the model
old_model = keras.models.load_model('housing_model.h5')

In [25]:
df.columns

Index(['YearBuilt', '2ndFlrSF', 'GrLivArea', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'TotRmsAbvGrd', 'YrSold', 'SalePrice'],
      dtype='object')

In [26]:

test_data = np.array([2020,	1854,	1810,	5,	1,	4,	10,	2020])
#actual sale price is 208500
print(model.predict(test_data.reshape(1,8), batch_size=1))

[[243875.27]]

In [28]:
test_data = np.array([2003,	854,	1710,	2,	1,	3,	8,	2020])
#actual sale price is 208500
print(model.predict(test_data.reshape(1,8), batch_size=1))

[[208359.44]]